QPushButton {
    width: 180px;
    height: 180px;
    background: none;
    border-radius: 8px;
    color: black;
    font-size: 55px;
}

QFrame {
    background-color: none;
    border-radius: 8px;
    margin: 20px 150px;
}

QLabel {
    font-size: 55px;
    background-color: rgba(255, 255, 255, 75);
    border-image: none;
}

#image_label {
     background-color: none;
}

#title_label {
    max-height: 150px;
}

#status_label {
    background-color: none;
    font-size: 32px;
    margin-left: 450px;
    margin-bottom: 150px;
}

#back_button {
    width: 350px;
    height: 150px;
    max-width: 350px;
    max-height: 150px;
    background-color: #707070;
    border-radius: 8px;
    color: white;
    font-size: 55px;
    margin-left: 150px;
}

#back_button:hover {
    background-color: #646464;
}