QPushButton {
    width: 300px;
    max-width: 300px;
    height: 128px;
    background: #13AD37;
    border-radius: 8px;
    color: white;
    font-size: 45px;
}

QPushButton:hover {
    background: #5FAD56
}

QLineEdit {
    padding: 4px;
    border-radius: 8px;
    height: 80px;
    max-width: 400px;
    font-size: 48px;
}

QFrame {
    background-color: none;
    border-radius: 8px;
    margin: 0px 0px;
}

QLabel {
    font-size: 55px;
    background-color: rgba(255, 255, 255, 0);
    border-image: none;
}