QPushButton {
    width: 180px;
    height: 180px;
    background: none;
    border-radius: 8px;
    color: black;
    font-size: 55px;
}

QFrame {
    background-color: white;
    border-radius: 8px;
    margin: 20px 150px;
}

QLabel {
    font-size: 55px;
    background-color: rgba(255, 255, 255, 75);
    border-image: none;
}

#back_button {
    width: 350px;
    height: 150px;
    max-width: 350px;
    max-height: 150px;
    background-color: #707070;
    border-radius: 8px;
    color: white;
    font-size: 55px;
}

#back_button:hover {
    background-color: #646464;
}

#send_button {
    width: 350px;
    height: 150px;
    max-width: 350px;
    max-height: 150px;
    background-color: #5FAD56;
    border-radius: 8px;
    color: white;
    font-size: 55px;
}

#send_button:hover {
    background-color: #13ad37;
}