QPushButton {
    width: 464px;
    height: 200px;
    background: #5FAD56;
    border-radius: 8px;
    color: white;
    font-size: 70px;
    margin: 40px;
}

QPushButton:hover {
    background: #13AD37;
}

QLabel {
    font-size: 55px;
    background-color: rgba(255, 255, 255, 0);
    border-image: none;
}